<div class="buttons">
    <!-- <button nz-button (click)="test()">测试</button> -->
    <nz-button-group>

        <button nz-button nz-dropdown nzSize='small' [nzDropdownMenu]="m1" nzPlacement="bottomRight">节点修改</button>
        <nz-dropdown-menu #m1="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item (click)="test2()">测试</li>
                <li nz-menu-item (click)="testTranslate()">测试翻译</li>
                <li nz-menu-item (click)="updateStartendExtensionPropertyElement()">修改起始节点Extension属性</li>
            </ul>
        </nz-dropdown-menu>


    </nz-button-group>
</div>

<div class="content">
    <app-xml-viewer [ngModel]="xml"></app-xml-viewer>
</div>