<div class="buttons">
    <button nz-button nzDanger nzType="primary" (click)="clearCache()">清除缓存</button>
    <button nz-button nzType="primary" (click)="translate()">翻译结果</button>
    <button nz-button (click)="userTaskChangeParticipant()">设置参与人</button>
    <button nz-button (click)="userTaskName()">修改节点标签</button>
    <button nz-button (click)="test()">测试</button>
    <button nz-button (click)="test2()">测试2</button>
    <button nz-button (click)="changeProcessDes()">修改工作流描述</button>
    <button nz-button (click)="changeXML()">修改XML</button>
</div>
<div class="content" id="container">
</div>