<div class="buttons">
    <nz-button-group>
        <button nz-button nzDanger nzSize='small' nzType="primary" (click)="clearCache()">清除缓存</button>
        <button nz-button nzType="primary" nzSize='small' (click)="translate()">翻译XML</button>
        <button nz-button nz-dropdown nzSize='small' [nzDropdownMenu]="m1" nzPlacement="bottomRight">节点修改</button>
        <nz-dropdown-menu #m1="nzDropdownMenu">
            <ul nz-menu>
                <!-- 网关节点文档的测试 -->
                <ng-container *ngIf="filename===simpleBpmnDoc">
                    <li nz-menu-item (click)='changeSimpleXML2Element()'>修改中间节点测试翻译</li>
                </ng-container>
                <!-- 网关节点文档的测试 -->
                <ng-container *ngIf="filename===gatewayBpmnDoc">
                    <li nz-menu-item (click)='updateElementAttrs()'>修改起始节点Attrs属性</li>
                    <li nz-menu-item (click)='deleteElementAttrs()'>删除起始节点Attrs属性</li>
                    <li nz-menu-item (click)='updateElementExtension()'>修改连线节点Extension属性</li>
                    <li nz-menu-item (click)='updateGatewayDefault()'>修改网关节点默认条件</li>
                </ng-container>
                <!-- 纯flowable测试 -->
                <ng-container *ngIf="filename===flowableBpmnDoc">
                    <li nz-menu-item (click)='changeFlowableAttrs()'>测试添加Flowable相关属性</li>
                </ng-container>
            </ul>
        </nz-dropdown-menu>

        <button nz-button nz-dropdown nzSize='small' [nzDropdownMenu]="m2" nzPlacement="bottomRight">节点查看</button>
        <nz-dropdown-menu #m2="nzDropdownMenu">
            <ul nz-menu>
                <!-- 网关节点文档的测试 -->
                <ng-container *ngIf="filename===gatewayBpmnDoc">
                    <li nz-menu-item (click)='checkGatewayElement()'>查看网关节点</li>
                    <li nz-menu-item (click)='checkElementAttrs()'>查看起始节点Attrs属性</li>
                    <li nz-menu-item (click)='checkElementExtension()'>查看连线节点Extension属性</li>
                    <li nz-menu-item (click)='checkRefUpStreamNode()'>溯源上游相关节点</li>
                </ng-container>
            </ul>
        </nz-dropdown-menu>

        <button nz-button nz-dropdown nzSize='small' [nzDropdownMenu]="m3" nzPlacement="bottomRight">XML</button>
        <nz-dropdown-menu #m3="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item (click)='clearCache()'>清除缓存</li>
                <li nz-menu-item (click)='loadSimpleXML()'>加载简单xml</li>
                <li nz-menu-item (click)='loadGatewayXML()'>加载网关xml</li>
                <li nz-menu-item (click)='loadTraceUpStreamXML()'>加载溯源xml</li>
                <li nz-menu-item (click)='loadFlowableXML()'>加纯Flowablexml</li>
            </ul>
        </nz-dropdown-menu>

    </nz-button-group>
</div>
<div class="content" id="container">
</div>